body{
	background-image: url(../../assets/img/bg.jpg);
	font-size: 14px;
}
.loading, .loading a{
	cursor: wait;
}
a{
	color: #002053;
	font-weight: bold;
}

ul{
	list-style: none;
	padding: 0 0 0 10px;
	font-weight: bold;
}
ul li:before {
	content: '- ';
}
ul li a{
	color: #A3282C;
	text-decoration: none;
	padding-left: 2px;
}
ul li a:hover{
	text-decoration: underline;
}

#main{
	position: fixed;
	overflow: hidden;
	width: 1020px;
	height: 765px;
	background: url(../../assets/img/main-bg.jpg) no-repeat #2a1a0d;
	top: 50%;
	left: 50%;
	margin: -382px 0 0 -510px;
	border: 3px solid #2a1a0d;
}

.window{
	position: fixed;
	overflow: hidden;
	width: 800px;
	height: 616px;
	background: url(../../assets/img/bg_window.png) repeat;
	top: 50%;
	left: 50%;
	margin: -308px 0 0 -400px;
	border: 5px solid #647fda;
	border-radius: 5px;
	padding: 0 15px;
}
.window-small{
	position: fixed;
	overflow: hidden;
	width: 600px;
	height: auto;
	background: url(../../assets/img/bg_window.png) repeat;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -300px;
	border: 5px solid #647fda;
	border-radius: 5px;
	padding: 0 15px 5px 15px;
}
.window-sized{
	position: fixed;
	overflow: hidden;
	width: 800px;
	height: auto;
	background: url(../../assets/img/bg_window.png) repeat;
	top: 50%;
	left: 50%;
	margin: -308px 0 0 -400px;
	border: 5px solid #647fda;
	border-radius: 5px;
	padding: 0 15px 10px 15px;
}

#window.fade{
	position: fixed;
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	display: block;
	content: '';
	top: 0;
	left: 0;
}

/*	8888888888888     8888888888888b     d8888888888888888b    88888888888888 .d8888b.  
	888       888     888       8888b   d8888888       8888b   888    888    d88P  Y88b 
	888       888     888       88888b.d88888888       88888b  888    888    Y88b.      
	8888888   888     8888888   888Y88888P8888888888   888Y88b 888    888     "Y888b.   
	888       888     888       888 Y888P 888888       888 Y88b888    888        "Y88b. 
	888       888     888       888  Y8P  888888       888  Y88888    888          "888 
	888       888     888       888   "   888888       888   Y8888    888    Y88b  d88P 
	8888888888888888888888888888888       8888888888888888    Y888    888     "Y8888P"  
	                                                                                    
	                                                                                    
	                                                                                    */
.element{
	position: absolute;
	display: block;
	background-repeat: no-repeat;
}
.elements{
	position: absolute;
	display: block;
}

#tv{
	background-image: url(../../assets/img/tv-sprite.png);
	width: 193px;
	height: 330px;
	top:170px;
	left: -3px;
}
#tv:hover{
	-webkit-animation: tvplay 1s steps(6) infinite;
	-moz-animation: tvplay 1s steps(6) infinite;
	-ms-animation: tvplay 1s steps(6) infinite;
	-o-animation: tvplay 1s steps(6) infinite;
	animation: tvplay 1s steps(6) infinite;
}
@keyframes "tvplay" {
 0% {
    background-position: 0 0;
 }
 100% {
    background-position: -1164px 0;
 }

}

@-moz-keyframes tvplay {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1164px 0;
 }

}

@-webkit-keyframes "tvplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1164px 0;
 }

}

@-ms-keyframes "tvplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1164px 0;
 }

}

@-o-keyframes "tvplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1164px 0;
 }

}



#door{
	background-image: url(../../assets/img/door.png);
	width: 216px;
	height: 326px;
	top: 40px;
	left: 40px;
}
/*#door:hover{
	-webkit-animation: doorplay 2s steps(5) infinite;
-moz-animation: doorplay 2s steps(5) infinite;
-ms-animation: doorplay 2s steps(5) infinite;
-o-animation: doorplay 2s steps(5) infinite;
animation: doorplay 2s steps(5) infinite;

}*/
@keyframes "doorplay" {
 0% {
    background-position: 0 0;
 }
 100% {
    background-position: -1060px 0;
 }

}

@-moz-keyframes doorplay {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1060px 0;
 }

}

@-webkit-keyframes "doorplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1060px 0;
 }

}

@-ms-keyframes "doorplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1060px 0;
 }

}

@-o-keyframes "doorplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -1060px 0;
 }

}


#calendar{
	background-image: url(../../assets/img/calendar-sprite.png);
	width: 154px;
	height: 167px;
	top: 30px;
	left: 370px;
	text-decoration: none;
}
	#month{
		display: block;
    	font-size: 12px;
    	position: relative;
    	text-align: center;
    	top: 40px;
    	width: 100%;
    	color: #A3282C;
    	text-transform: uppercase;
    	font-family: "comic sans ms";
    	transform: rotateZ(2deg);
	}
#calendar:hover{
	-webkit-animation: calendarplay 1s steps(4) infinite;
-moz-animation: calendarplay 1s steps(4) infinite;
-ms-animation: calendarplay 1s steps(4) infinite;
-o-animation: calendarplay 1s steps(4) infinite;
animation: calendarplay 1s steps(4) infinite;

}
@keyframes "calendarplay" {
 0% {
    background-position: 0 0;
 }
 100% {
    background-position: -616px 0;
 }

}

@-moz-keyframes calendarplay {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -616px 0;
 }

}

@-webkit-keyframes "calendarplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -616px 0;
 }

}

@-ms-keyframes "calendarplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -616px 0;
 }

}

@-o-keyframes "calendarplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -616px 0;
 }

}


#table{
	top: 220px;
	right: 170px;
}
	#phone{
		background-image: url(../../assets/img/phone-sprite.png);
		width: 105px;
		height: 129px;
		top: 10px;
		right: 10px;
		}
	#phone:hover{
		-webkit-animation: phoneplay 1s steps(5) infinite;
-moz-animation: phoneplay 1s steps(5) infinite;
-ms-animation: phoneplay 1s steps(5) infinite;
-o-animation: phoneplay 1s steps(5) infinite;
animation: phoneplay 1s steps(5) infinite;

	}
	@keyframes "phoneplay" {
 0% {
    background-position: 0 0;
 }
 100% {
    background-position: -530px 0;
 }

}

@-moz-keyframes phoneplay {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -530px 0;
 }

}

@-webkit-keyframes "phoneplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -530px 0;
 }

}

@-ms-keyframes "phoneplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -530px 0;
 }

}

@-o-keyframes "phoneplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -530px 0;
 }

}



	#frame{
		background-image: url(../../assets/img/fotoframe-sprite.png);
		width: 112px;
		height: 132px;
		top: 10px;
		left: 10px;
	}
	#frame:hover{
		-webkit-animation: frameplay 1s steps(5) infinite;
-moz-animation: frameplay 1s steps(5) infinite;
-ms-animation: frameplay 1s steps(5) infinite;
-o-animation: frameplay 1s steps(5) infinite;
animation: frameplay 1s steps(5) infinite;

	}
	@keyframes "frameplay" {
 0% {
    background-position: 0 0;
 }
 100% {
    background-position: -560px 0;
 }

}

@-moz-keyframes frameplay {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -560px 0;
 }

}

@-webkit-keyframes "frameplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -560px 0;
 }

}

@-ms-keyframes "frameplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -560px 0;
 }

}

@-o-keyframes "frameplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -560px 0;
 }

}


#portraits{
	top: 30px;
	right: 340px;
}

	#man{
		background-image: url(../../assets/img/man.png);
		width: 139px;
		height: 162px;
		top: 0;
		left: 0;
		/*transition:all 2s ease-in-out;
		perspective: 800px;
		perspective-origin: 50% 100px;
		*/
		transition: all 0.5s linear;
		-webkit-transform-origin: center top;
		-moz-transform-origin: center top;
		-o-transform-origin: center top;
		-ms-transform-origin: center top;
		transform-origin: center top;
	}
	#man:hover {	
		-webkit-animation-name: example;
		-moz-animation-name: example;
		-ms-animation-name: example;
		-o-animation-name: example;
		animation-name: example;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		-moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		-ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		/* ease is the default */
		-webkit-animation-delay: 0;
		-moz-animation-delay: 0;
		-ms-animation-delay: 0;
		-o-animation-delay: 0;
		animation-delay: 0;
		/* 0 is the default */
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		/* 1 is the default */
		animation-direction: alternate;
		/* normal is the default */
	}
	#man:hover{
		/*transform:rotateZ(20deg);*/
	}
	#woman{
		background-image: url(../../assets/img/woman.png);
		width: 139px;
		height: 162px;
		top: 0;
		left: 130px;
		transition: all 0.5s linear;
		-webkit-transform-origin: center top;
		-moz-transform-origin: center top;
		-o-transform-origin: center top;
		-ms-transform-origin: center top;
		transform-origin: center top;
	}
	#woman:hover{
		-webkit-animation-name: example;
		-moz-animation-name: example;
		-ms-animation-name: example;
		-o-animation-name: example;
		animation-name: example;
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		-moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		-ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
		/* ease is the default */
		-webkit-animation-delay: 0;
		-moz-animation-delay: 0;
		-ms-animation-delay: 0;
		-o-animation-delay: 0;
		animation-delay: 0;
		/* 0 is the default */
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		/* 1 is the default */
		animation-direction: alternate;
		/* normal is the default */
	}
	@keyframes "example" {
 0% {
    -webkit-transform: rotateZ(0deg);
   	-moz-transform: rotateZ(0deg);
   	-o-transform: rotateZ(0deg);
   	-ms-transform: rotateZ(0deg);
   	transform: rotateZ(0deg);
 }
 50% {
    -webkit-transform: rotateZ(10deg);
   	-moz-transform: rotateZ(10deg);
   	-o-transform: rotateZ(10deg);
   	-ms-transform: rotateZ(10deg);
   	transform: rotateZ(10deg);
 }
 100% {
    -webkit-transform: rotateZ(-10deg);
   	-moz-transform: rotateZ(-10deg);
   	-o-transform: rotateZ(-10deg);
   	-ms-transform: rotateZ(-10deg);
   	transform: rotateZ(-10deg);
 }

}

@-moz-keyframes example {
 0% {
   -moz-transform: rotateZ(0deg);
   transform: rotateZ(0deg);
 }
 50% {
   -moz-transform: rotateZ(10deg);
   transform: rotateZ(10deg);
 }
 100% {
   -moz-transform: rotateZ(-10deg);
   transform: rotateZ(-10deg);
 }

}

@-webkit-keyframes example {
 0% {
   -webkit-transform: rotateZ(0deg);
   transform: rotateZ(0deg);
 }
 50% {
   -webkit-transform: rotateZ(10deg);
   transform: rotateZ(10deg);
 }
 100% {
   -webkit-transform: rotateZ(-10deg);
   transform: rotateZ(-10deg);
 }

}

@-ms-keyframes "example" {
 0% {
   -ms-transform: rotateZ(0deg);
   transform: rotateZ(0deg);
 }
 50% {
   -ms-transform: rotateZ(10deg);
   transform: rotateZ(10deg);
 }
 100% {
   -ms-transform: rotateZ(-10deg);
   transform: rotateZ(-10deg);
 }

}

@-o-keyframes "example" {
 0% {
   -o-transform: rotateZ(0deg);
   transform: rotateZ(0deg);
 }
 50% {
   -o-transform: rotateZ(10deg);
   transform: rotateZ(10deg);
 }
 100% {
   -o-transform: rotateZ(-10deg);
   transform: rotateZ(-10deg);
 }

}


#main-news{
	bottom: 35px;
	right: 0;
}
	#player{
		background-image: url(../../assets/img/player-sprite.png);
		width: 221px;
		height: 244px;
		bottom: 0;
		right: 0;
		}
	#main-news:hover #player{
		-webkit-animation: playerplay 1s steps(4) infinite;
		-moz-animation: playerplay 1s steps(4) infinite;
		-ms-animation: playerplay 1s steps(4) infinite;
		-o-animation: playerplay 1s steps(4) infinite;
		animation: playerplay 1s steps(4) infinite;
	}
	@keyframes "playerplay" {
 0% {
    background-position: 0 0;
 }
 100% {
    background-position: -892px 0;
 }

}

@-moz-keyframes playerplay {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -892px 0;
 }

}

@-webkit-keyframes "playerplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -892px 0;
 }

}

@-ms-keyframes "playerplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -892px 0;
 }

}

@-o-keyframes "playerplay" {
 0% {
   background-position: 0 0;
 }
 100% {
   background-position: -892px 0;
 }

}

	#news-player{
		background-image: url(../../assets/img/news-window.png);
		width: 247px;
		height: 184px;
		bottom: 50px;
		right: 140px;
	}
		.window-inner{
			font-size: 14px;
    		padding: 10px 30px 10px 20px;
		}
		.window-inner li{
			margin-bottom: 5px;
		}

#lang{
	left: 0px;
	bottom: 95px;
}

	#ru{
		background-image: url(../../assets/img/flags.png);
		width: 76px;
		height: 51px;
		top: 0;
		left: 10px;
		background-position: -88px -51px;
	}
	#ru:hover, #ru.active{
		background-position: -88px 0;
	}

	#eu{
		background-image: url(../../assets/img/flags.png);
		width: 78px;
		height: 51px;
		top: 0px;
		left: 100px;
		background-position: 0 -51px;
	}
	#eu:hover, #eu.active{
		background-position: 0 0;
	}

#logo{
	background-image: url(../../assets/img/logo-hover.png);
	width: 410px;
	height: 414px;
	top: 210px;
	left: 220px;
}
#logo:hover{
	background-image: url(../../assets/img/logo.png);	
}
#footer{
	width: 100%;
	height: 35px;
	bottom: 0;
	color: #fff;
}
#footer a{
	color: #fff;
}
#footer ul.menu{
	float: right;
	padding: 0 10px; 
}
#footer li:before{
	content: '| ';
}
#footer li:first-child:before{
	content: '';
}
ul.menu li{
	display: inline-block;
}

/*	8888888888888888888888888888888b     d888 .d8888b.  
	  888      888    888       8888b   d8888d88P  Y88b 
	  888      888    888       88888b.d88888Y88b.      
	  888      888    8888888   888Y88888P888 "Y888b.   
	  888      888    888       888 Y888P 888    "Y88b. 
	  888      888    888       888  Y8P  888      "888 
	  888      888    888       888   "   888Y88b  d88P 
	8888888    888    8888888888888       888 "Y8888P"  
	                                                    
	                                                    
	                                                    */
h2{
	font-size: 18px;
}
.items{
	overflow-y: auto;
	overflow-x: hidden;
	height: 565px;
/*	padding: 10px 20px;*/
}
	.title{
		color: #2053c9;
		display: block;
		text-align: center;
		margin: 5px 30px 10px 40px;
		font-weight: normal;
	}
	.date{
		color: #2053c9;
		font-size: 12px;
		line-height: 22px;
	}
.items .date{
	width: 80px;
	display: inline-block;
	vertical-align: top;
}
.items .event-date{
	width: 130px;
}
.items .preview-body{
	width: 660px;
	display: inline-block;
}
.items .title{
	text-align: left;
	margin: 0;
}
.item-image{
	float: left;
	margin: 0 10px 10px 0;
}
.icon{
	position: absolute;
	text-indent: -9999px;
}
.icon-back{
	background: url(../../assets/img/back.png) no-repeat;
	width: 49px;
	height: 37px;
	top: 5px;
	left: 5px;
}
.icon-close{
	background: url(../../assets/img/close.png) no-repeat;
	width: 35px;
	height: 31px;
	top: 5px;
	right: 5px;
}

.preview-video{
	display: inline-block;
	padding: 4px;
	margin: 4px;
	border-width: 2px;
	border-style: solid;
	border-color: #525252;
	width: 240px;
	border-radius: 3px;
	vertical-align: top;
	box-shadow: 3px 3px 6px #000;
	background-color: #fff;
}
	.preview-video:hover{
		border-color: #647FDA;
	}

.preview-video img{
	max-width: 100%;
}

.preview-image{
	display: inline-block;
	width: 180px;
	height: 170px;
	margin: 4px;
	position: relative;
}
li.preview-image:before{
	content: '';
}
.preview-image a{
	display: block;
	max-width: 170px;
	max-height: 160px;
	padding: 4px;
	position: absolute;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;
	border-color: #525252;
	box-shadow: 3px 3px 6px #000;
	background-color: #fff;
	transition: all 0.5s linear;
	overflow: hidden;
}
.preview-image .image-wrap{
	overflow: hidden;
	max-width: 170px;
	max-height: 160px;
}
.preview-image:nth-of-type(4n+4) a{
	right: 0;
}
	.preview-image a:hover{
		border-color: #647FDA;
		max-width: 300px;
		z-index: 2;
		padding: 6px;
		max-height: 300px;
	}
	.preview-image a:hover .image-wrap{
		max-width: 300px;
		max-height: 300px;
	}

.preview-image img{
	max-width: 300px;
	max-height: 300px;
	vertical-align: top;
}
.item-body{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 560px;
}


/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  /*width: auto;
  height: auto;*/
  max-width: 800px;
  max-height: 600px;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../../assets/img/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../../assets/img/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}