<div id="door" class="element"></div>
<a href="#" id="calendar" class="element">
	<span id="month"><%= month %></span>
</a>
<div id="portraits" class="elements">
	<a href="/vanya" id="man" class="element"></a>
	<a href="/tanya" id="woman" class="element"></a>
</div>
<a href="/video" id="tv" class="element"></a>
<a href="#" id="logo" class="element"></a>
<div id="table" class="elements">
	<a href="/contacts" id="phone" class="element"></a>
	<a href="/gallery" id="frame" class="element"></a>
</div>
<div id="main-news" class="elements">
	<div id="player" class="element"></div>
	<div id="news-player" class="element"></div>
</div>
<div id="lang" class="elements">
	<a href="#" id="ru" class="element active"></a>
	<a href="#" id="eu" class="element"></a>
</div>
<div id="footer" class="element"></div>